In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
series_ojb = Series(np.arange(8), index=["row %d" % n for n in range(1,9)])

In [3]:
series_ojb

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32

In [4]:
series_ojb[[1, 5]]

row 2    1
row 6    5
dtype: int32

In [5]:
np.random.seed(25)
df = DataFrame(np.random.rand(36).reshape(6,6), index=['one', 'two', 'three', 'four', 'five', 'six'], columns=['I', 'II', 'III', 'IV', 'V','VI'])
df

              I        II       III        IV         V        VI
one    0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
two    0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
three  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
four   0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
five   0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
six    0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [6]:
df.loc[['two','five'], ['V', 'II']]

             V        II
two   0.402366  0.437611
five  0.421004  0.559053

In [7]:
series_ojb['row 2':'row 6']

row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
dtype: int32

In [8]:
df,df < .2

(              I        II       III        IV         V        VI
 one    0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
 two    0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
 three  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
 four   0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
 five   0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
 six    0.281701  0.900274  0.669612  0.456069  0.289804  0.525819,
            I     II    III     IV      V     VI
 one    False  False  False   True  False   True
 two    False  False  False  False  False   True
 three  False  False   True  False  False  False
 four   False  False  False  False  False  False
 five   False  False   True  False  False  False
 six    False  False  False  False  False  False)

In [9]:
series_ojb[series_ojb > 3]

row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32

In [10]:
series_ojb[['row 1', 'row 5', 'row 8']] = 8
series_ojb

row 1    8
row 2    1
row 3    2
row 4    3
row 5    8
row 6    5
row 7    6
row 8    8
dtype: int32

In [11]:
df[df < .2] = 0
df

              I        II       III        IV         V        VI
one    0.870124  0.582277  0.278839  0.000000  0.411100  0.000000
two    0.684969  0.437611  0.556229  0.367080  0.402366  0.000000
three  0.447031  0.585445  0.000000  0.520719  0.326051  0.699186
four   0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
five   0.514244  0.559053  0.000000  0.719930  0.421004  0.436935
six    0.281701  0.900274  0.669612  0.456069  0.289804  0.525819